
{% set active_page = 'index' %}

{% block content %}
	<h1>Delete Book</h1>

	<p>Are you sure you want to delete {{ books[book_id]['title'] }}?</p>
	<form action="{{ url_for('showBook') + (book_id+1)|string + '/deleting' }}" method="post">
		<div class = "editFormDiv">
	    <input type="submit" value="Delete">
	    <a href = "{{url_for('showBook')}}">Cancel</a>
		</div>
	</form>
	
    
{% endblock %}