
{% set active_page = 'index' %}

{% block content %}
	<h1>Edit Book</h1>

	<p>Name:</p>
	<form action="{{ url_for('showBook') + (book_id+1)|string + '/editing' }}" method="post">
		<div class = "editFormDiv">
	    <input type="text" name="newName" value = "{{ books[book_id]['title'] }}"><br>
	    <input type="submit" value="Edit">
	    <a href = "{{url_for('showBook')}}">Cancel</a>
		</div>
	</form>
	
    
{% endblock %}