
{% set active_page = 'index' %}

{% block content %}
	<!DOCTYPE html>
	<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>


		<h1>Books</h1>
		{% for book in books: %}
		<div class = "bookDiv">
			<p>{{ book.title }}</p>
			<a href="{{ url_for('showBook') + (books.index(book)+1)|string + '/edit'}}">Edit books</a>
			<a href="{{ url_for('showBook') + (books.index(book)+1)|string + '/delete'}}">Delete books</a>
			<br>
			<br>
		</div>
		{% endfor %}


	</body>
	</html>
{% endblock %}