
{% set active_page = 'index' %}

{% block content %}
	<h1>New Book</h1>

	<p>Name:</p>
	<form action="{{ url_for('showBook') + 'newing' }}" method="post">
		<div>
		<input type="text" name="newBookName">
	    <input type="submit" value="Create">
		</div>
	</form>
	
    
{% endblock %}